.header{
    display:flex;
    justify-content:space-between;
}


.logo{
    width:10rem;
    height:3rem;
   
}



.header-menu{
    list-style:none;
    display:flex;
    gap:2rem;
    color:white;
    padding-top:1.5rem;
}


.header-menu > li {
    cursor:pointer;
}

.header-menu > list-style:hover{
    color:orange;

}

/* end of header */